*{
    text-transform: capitalize;
}
.nav-item:hover{
    font-size: 20px;
    border-radius: 20px;
    text-shadow: 1px 1px rgb(231, 83, 83);
    
    
    
}

.dropdown-item:hover{
    
    font-size: large;
    font-weight: bolder;
    text-shadow: none;
    /* color: red; */
}
#info{
    color: black;
    font-size: 20px;
    background-color:antiquewhite;;
    
    
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 0.5px red;
    margin-top: 20px;
    padding-top: 100px;
    
    
    
}
/* table row 1 col1  */
 #img img{
    /* border: 4px solid ; */
    border-radius: 50%;
    
}
#img{
    background-color: antiquewhite;
}
#dr{
    border: none; 
    border-radius: 40%; 

}
.navbar-brand img{
    
    border-radius: 20%;
}
.tab{
    background-color: rgb(243, 237, 228);
    /* display: inline-flexbox; */
}
#msg{
    font-family: sans-serif;
    padding-left: 30px;
}
marquee{
    background-color: rgb(0, 0, 0,0.2);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
}
#intro{
    text-transform: capitalize;
    padding-left: 30px;
    padding-top: 18px;
    /* color: red; */
}
#messege{
    text-transform: capitalize;
    font-size: 17;
    text-align: justify;
    padding-left: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
    justify-content: center;
    margin-top: 15px;
}
table{
    /* border: 2px solid red; */
    width: 100% ;
}
marquee a{
    color: red;
    font-style: italic;
}
marquee a:hover{
    color: black;
    text-decoration: none;    
    
}

/* about page styling */
.about{
background-color: rgba(0, 0, 0, 0.1);
text-transform: capitalize;
font-weight: 800;
font-size: 25px;
font-family: Arial Rounded MT Bold;
padding: 10px 0px 10px 30px;
font-style: italic;
margin: 10px;
}

/* infrastucrue and all facilitys avalibale */
.card-group img{
    padding: 3px;
    border-radius: 20px;
    /* margin: 1px; */
    border: 2px solid;
}
.card-text{
    text-align: justify;
    justify-content: center;
    line-height: 30px;
    
}
/* .imggal{
    padding: 10px;
} */
.gal img:hover{
    border-radius: 20%;
    background-color: red;
    cursor: pointer;
    /* padding: 10px; */
}
/* carousel */
.carousel{
    cursor: pointer;
}

/* contact page css */
.bg{
    background-color: rgba(222, 247, 247,0.4);
    height: 100vh;
}
#teacher{
    text-align: center;
padding: 20px 0px;
}
.teacherimg img{
    /* border: 2px solid red; */
    border-radius: 50%;
    /* padding-bottom: 10px; */
    margin-bottom: 5px;

}
/* teacher expiriance */
.row li{
font-size: 18px;
/* font-weight: bold; */
font-family: Times New Roman;
}
.col-lg-4
{
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 40px;
    align-items: center;
    padding: 20px;
}
/* horizontal */
.hr hr{
    border: 2px solid black;
    border-radius: 40%;
    
}
.adm a:hover{
    text-transform: capitalize;
    font-size: 22px;
    color: black;
    font-weight: bold;
    font-style: italic;
    /* text-decoration: none; */
}
.card address{
    font-style: italic;
}
address{
    font-size: 20px;
    /* text-align: justify; */
    justify-content: center;
}
{
    text-align: center;
}
.adm{
    font-size: 20px;
    text-align: center;
    background-color: antiquewhite;
    font-weight: bold;
    color: red;
}